/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 3, ../../sass/_layout.scss */
body {
  margin: 0;
}

/* line 7, ../../sass/_layout.scss */
#container {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  max-width: 8.5in;
  padding-left: 0.75in;
  padding-right: 0.75in;
}
/* line 46, ../../.bundle/ruby/2.2.0/gems/zen-grids-1.4/stylesheets/zen/_grids.scss */
#container:before, #container:after {
  content: "";
  display: table;
}
/* line 50, ../../.bundle/ruby/2.2.0/gems/zen-grids-1.4/stylesheets/zen/_grids.scss */
#container:after {
  clear: both;
}
/* line 61, ../../.bundle/ruby/2.2.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
#container * html {
  font-size: 100%;
}
/* line 64, ../../.bundle/ruby/2.2.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
#container html {
  font-size: 16px;
  line-height: 1.5em;
}

/* line 22, ../../sass/_layout.scss */
#title {
  float: left;
  width: 58.33333%;
  margin-left: 0%;
  margin-right: -58.33333%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}
/* line 25, ../../sass/_layout.scss */
#title h1 {
  margin-bottom: 0.25em;
}

/* line 30, ../../sass/_layout.scss */
#contact {
  float: right;
  width: 41.66667%;
  margin-right: 0%;
  margin-left: -41.66667%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}
/* line 33, ../../sass/_layout.scss */
#contact ul {
  float: right;
}
/* line 36, ../../sass/_layout.scss */
#contact ul li {
  list-style-type: none;
}

/* line 42, ../../sass/_layout.scss */
h1, h2, h3, h4, h5 {
  clear: left;
}

/* line 46, ../../sass/_layout.scss */
h3, h4 {
  margin-top: 0.375em;
  margin-bottom: 0.375em;
}

/* line 51, ../../sass/_layout.scss */
h5 {
  margin-top: 0em;
  margin-bottom: 0em;
}

/* line 56, ../../sass/_layout.scss */
#about, #open-source, #qualifications, #experience, #education {
  float: left;
  width: 100%;
  margin-left: 0%;
  margin-right: -100%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  clear: left;
}
/* line 60, ../../sass/_layout.scss */
#about h3, #about h4, #about h5, #about p, #about ul, #about li, #open-source h3, #open-source h4, #open-source h5, #open-source p, #open-source ul, #open-source li, #qualifications h3, #qualifications h4, #qualifications h5, #qualifications p, #qualifications ul, #qualifications li, #experience h3, #experience h4, #experience h5, #experience p, #experience ul, #experience li, #education h3, #education h4, #education h5, #education p, #education ul, #education li {
  float: left;
  width: 91.66667%;
  margin-left: 8.33333%;
  margin-right: -100%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  clear: left;
}

/* line 66, ../../sass/_layout.scss */
.experience-title {
  font-size: 18px;
  margin-top: 0em;
  margin-bottom: 0em;
}

/* line 74, ../../sass/_layout.scss */
#proficiencies .col1of2 {
  float: left;
  width: 50%;
  margin-left: 0%;
  margin-right: -50%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}
/* line 75, ../../sass/_layout.scss */
#proficiencies .col2of2 {
  float: left;
  width: 50%;
  margin-left: 50%;
  margin-right: -100%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}
/* line 77, ../../sass/_layout.scss */
#proficiencies .col1of3 {
  float: left;
  width: 33.33333%;
  margin-left: 0%;
  margin-right: -33.33333%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}
/* line 78, ../../sass/_layout.scss */
#proficiencies .col2of3 {
  float: left;
  width: 33.33333%;
  margin-left: 25%;
  margin-right: -58.33333%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}
/* line 79, ../../sass/_layout.scss */
#proficiencies .col3of3 {
  float: left;
  width: 33.33333%;
  margin-left: 58.33333%;
  margin-right: -91.66667%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}
/* line 81, ../../sass/_layout.scss */
#proficiencies .col1of4 {
  float: left;
  width: 25%;
  margin-left: 0%;
  margin-right: -25%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}
/* line 82, ../../sass/_layout.scss */
#proficiencies .col2of4 {
  float: left;
  width: 25%;
  margin-left: 25%;
  margin-right: -50%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}
/* line 83, ../../sass/_layout.scss */
#proficiencies .col3of4 {
  float: left;
  width: 25%;
  margin-left: 50%;
  margin-right: -75%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}
/* line 84, ../../sass/_layout.scss */
#proficiencies .col4of4 {
  float: left;
  width: 25%;
  margin-left: 75%;
  margin-right: -100%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/* line 61, ../../.bundle/ruby/2.2.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 100%;
}

/* line 64, ../../.bundle/ruby/2.2.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 16px;
  line-height: 1.33333em;
}

/* line 8, ../../sass/_fonts.scss */
#container {
  font-family: 'PT Sans', sans-serif;
}

/* line 13, ../../sass/_fonts.scss */
h1 {
  font-family: 'Glegoo', serif;
  font-size: 30px;
}

/* line 18, ../../sass/_fonts.scss */
h2, h3, h4, h5, h6 {
  font-family: 'Arvo', sans-serif;
}

/* line 22, ../../sass/_fonts.scss */
h2 {
  text-transform: uppercase;
  font-size: 20px;
}

/* line 27, ../../sass/_fonts.scss */
h5 {
  font-size: 16px;
}

/* line 31, ../../sass/_fonts.scss */
h6 {
  font-size: 16px;
}

/* line 35, ../../sass/_fonts.scss */
a:hover {
  text-decoration: none;
}

/* line 39, ../../sass/_fonts.scss */
strong {
  font-weight: bold;
}

/* line 43, ../../sass/_fonts.scss */
h4.experience-title {
  font-weight: normal;
  font-size: 14px;
}
/* line 44, ../../sass/_fonts.scss */
h4.experience-title strong {
  font-size: 16px;
  font-weight: bold;
}

/* line 1, ../../sass/_colors.scss */
#container {
  color: #444;
  background: #f5f5f5;
  border: solid #666;
  border-width: 8px 0 2px 0;
}

/* line 8, ../../sass/_colors.scss */
h1, h2, h3, h4 {
  color: #333;
}

/* line 12, ../../sass/_colors.scss */
h2 {
  border-bottom: 1px solid #ccc;
}
