<!DOCTYPE HTML>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8">

    <title>Adrien Thebo | Operations & Software Engineer | adrien@somethingsinistral.net</title>
    <link rel="stylesheet" type="text/css" href="resume.css" media="screen" />

  </head>
  <body>
    <div class="container">
      <article>
        <section class="contact">
          <%= partial 'contact.mkd' %>
        </section>

        <section clss="objective">
          <%= partial 'objective.mkd' %>
        </section>

        <section class="open-source">
          <%= partial 'open-source.mkd' %>
        </section>

        <section class="qualifications">
          <%= partial 'qualifications.mkd' %>
        </section>

        <section class="experience">
          <%= partial 'experience.mkd' %>
        </section>

        <section class="education">
          <%= partial 'education.mkd' %>
        </section>

      </article>
    </div>
  </body>
</html>
