@import "base";

body {
  margin: 0;
}

#container {
  @include zen-grid-container;
  @include establish-baseline;
  width: 960px;

  margin-left: auto;
  margin-right: auto;

  max-width: 8.5in;

  padding-left: 0.75in;
  padding-right: 0.75in;

}

#title {
  @include zen-grid-item(7, 1);

  h1 {
    margin-bottom: 0.25em;
  }
}

#contact {
  @include zen-grid-item(5, 1, right);

  ul {
    float: right;

    li {
      list-style-type: none;
    }
  }
}

h1, h2, h3, h4 {
  @include zen-clear();
}

h3, h4{
  @include margin-leader(0);
  @include margin-trailer(0);
}

#objective, #open-source, #qualifications, #experience, #education {
  @include zen-grid-item(12, 1);
  @include zen-clear();

  p, ul {
    @include zen-clear();
  }
}

.experience-header {

  .experience-job {
    @include zen-grid-item(8, 1);
  }

  .experience-title {
    @include zen-grid-item(4, 1, right);
  }

  .experience-time {
    @include zen-clear(right);
    @include zen-grid-item(4, 1, right);
  }
}

#qualifications-platform-linux   { @include zen-grid-item(4, 1) }
#qualifications-platform-unix    { @include zen-grid-item(4, 5) }
#qualifications-platform-windows { @include zen-grid-item(4, 9) }

#qualifications-languages1 { @include zen-grid-item(3, 1) }
#qualifications-languages2 { @include zen-grid-item(3, 4) }
#qualifications-languages3 { @include zen-grid-item(3, 7) }
#qualifications-languages4 { @include zen-grid-item(3, 10) }

#qualifications-technologies1 { @include zen-grid-item(3, 1) }
#qualifications-technologies2 { @include zen-grid-item(3, 4) }
#qualifications-technologies3 { @include zen-grid-item(3, 7) }
#qualifications-technologies4 { @include zen-grid-item(3, 10) }
