<!DOCTYPE HTML>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8">

    <title>Adrien Thebo | Operations &amp; Software Engineer | adrien@somethingsinistral.net</title>
    <link rel="stylesheet" type="text/css" href="css/screen.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="css/print.css" media="print" />

    <link href='http://fonts.googleapis.com/css?family=Glegoo|Arvo|PT+Sans|PT+Sans+Narrow' rel='stylesheet' type='text/css'>


  </head>
  <body>
    <div id="container">

        <%= section 'title.mkd' %>

        <%= section 'contact.mkd' %>

        <%= section 'objective.mkd' %>

        <%= section 'open-source.mkd' %>

          <h2>Qualifications</h2>

          <%= section 'qualifications/languages.mkd' %>

          <h3>Platforms</h3>
          <%= section 'qualifications/platform/linux.mkd' %>
          <%= section 'qualifications/platform/unix.mkd' %>
          <%= section 'qualifications/platform/windows.mkd' %>

          <%= section 'qualifications/technologies.mkd' %>

        </section>

        <section id="experience">
          <%= partial 'experience.mkd' %>
        </section>

        <section id="education">
          <%= partial 'education.mkd' %>
        </section>

    </div>
  </body>
</html>
